<!DOCTYPE html>
<html lang="en-GB">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {%- block head %}
      <title>RSVP Calendar</title>
    {%- endblock %}
    <link rel="stylesheet" href="https://classless.de/classless.css">
  </head>
  <body>
    <main>
      {%- block content %}
        <h1>RSVP Calendar</h1>

        <p>As I, <span class="h-card"><a class="u-url" href="https://www.jvt.me/">Jamie Tanna</a></span>, have had great benefits from <a href="https://www.jvt.me/posts/2019/07/27/rsvp-calendar/">creating an iCalendar feed for my RSVPs</a>, I thought I'd make this a service that anyone else can use, too.</p>

        <p>Point the below form to the feed URL that produces a set of <a href="https://microformats.io">Microformats2</a> marked up <a href="https://indieweb/rsvp">RSVPs</a>.</p>

        <p>You can either click Submit to browse to the URL, or the text box below the form will produce the URL to point your calendar application to.</p>

        <form action="/feed" method="get" id="form">
          <label for="url">feedUrl</label>
          <input type="text" name="url" id="url" placeholder="https://www.jvt.me/kind/rsvps/" oninput="onUrlChange(this)" />
          <br>

          <input type="submit" />
        </form>

        <label for="result-url">Calendar feed URL</label>
        <input type="text" style="width: 50%" readonly id="result-url" />

        <p>Want an example? Check out <a href="https://www.jvt.me/rsvps/">what my site's RSVPs look like</a>.</p>

        <p>Note that it can take up to an hour to sync a calendar. If your calendar is not syncing, please <a href="https://gitlab.com/jamietanna/rsvp-calendar/-/issues">raise an issue on the repo</a>.</p>

        <script>
        function onUrlChange(e) {
          const feedUrl = new URL(document.getElementById('form').action)
          feedUrl.searchParams.set('url', e.value)
          document.getElementById('result-url').value = feedUrl
        }
        </script>

      {%- endblock %}
    </main>
    {%- block scripts %}
    {%- endblock %}
  </body>
</html>
