<!DOCTYPE html>
<html lang="en-GB">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {%- block head %}
      <title>RSVP Calendar</title>
    {%- endblock %}
    <link rel="stylesheet" href="https://classless.de/classless.css">
  </head>
  <body>
    <main>
      {%- block content %}
        <h1>iCalendar Feed</h1>

        <input id="input" type="text" readonly/>

        <p>Copy the URL above and put it into your Calendaring application to subscribe to the feed.</p>

        <script>
          document.getElementById('input').value = window.location.href
        </script>

        <noscript>
          You do not have JavaScript enabled, so please use the URL in the browser as the URL to add to your Calendar app.
        </noscript>

        <details>
          <summary>
            Calendar Feed Preview
          </summary>

          <p>A preview of the calendar can be found below:</p>

          <pre>
            {{ ics }}
          </pre>
        </details>

      {%- endblock %}
    </main>
    {%- block scripts %}
    {%- endblock %}
  </body>
</html>
